.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background:#5550e3;
  transition: background 0.3s ease;
  &:hover {
    color: black;
    background: #6763e0;
  }
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}
