.cover {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://th-thumbnailer.cdn-si-edu.com/rOtBj9QibZD7-ougknPa4MW9_NA=/fit-in/1072x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/f8/52/f8522dc3-da07-49bd-b6f6-b5ddebe7e740/muybridge_race_horse_animated.gif);
  height: 501px;
  width: 100%;
  background-size: contain;
  background-position: center;
}
